body {
  background-color: #0d1117;
  color: #00ff88;
  font-family: "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock-Container {
  background-color: #161b22;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow:none;
  transition: all 0.8s ease;
  text-align: center;
}
.clock {
  font-size: 80px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.fullscreen-btn{
  background-color: #00ff88;
  color: #0d1117;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Courier New",monospace;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
.clock-Container:hover{
  background-color:#00cc6f ;
  box-shadow: 0 0 40px #00ff88, 0 0 80px rgba(0,255,136,0.5);
  transform: scale(1.05);
}
.fullscreen-btn:hover{
  background-color: #00cc6f;
  box-shadow: 0px 0px 30px #00ff88;
  transform: scale(1.05);
}
.fullscreen-btn:active{
  transform: scale(0.95);
}
