<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Clock</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <div class="clock-Container">
      <h1 class="clock" id="clock">00:00:00</h1>
      <button class="fullscreen-btn" id="fullscreenBtn">FullScreen</button>
    </div>
    <script>
      function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, "0");
        const minutes = String(now.getMinutes()).padStart(2, "0");
        const seconds = String(now.getSeconds()).padStart(2, "0");
        document.getElementById(
          "clock"
        ).textContent = `${hours}:${minutes}:${seconds}`;
      }
      setInterval(updateClock, 1000);
      updateClock();
      const fullscreenBtn = document.getElementById("fullscreenBtn");
      fullscreenBtn.addEventListener("click", function () {
        if (!document.fullscreenElement) {
          document.documentElement.requestFullscreen();
          fullscreenBtn.textContent = "Exit Fullscreen";
        } else {
          document.exitFullscreen();
          fullscreenBtn.textContent = "Fullscreen";
        }
      });
      document.addEventListener("fullscreenchange", function () {
        if (!document.fullscreenElement) {
          fullscreenBtn.textContent = "Full Screen";
        } else {
          fullscreenBtn.textContent = "Exit Fullscreen";
        }
      });
    </script>
  </body>
</html>
