*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: antiquewhite;
}
div{
    width: 30%;
    height: 30%;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
}
#box2{
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
}
