body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;

}

h1,
h2 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#input-todo {
    width: 250px;
    height: 25px;
    font-size: 1.25rem;
}

#add-todo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: lightgreen;
    font-size: 1.5rem;
    cursor: pointer;
}

.todo-container {
    /* border: 2px solid black; */
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo {
    background-color: lightblue;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0px 10px;

}

.actions>form {
    display: inline;
}

.actions>form>button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 10px;
}