* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: fle;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding-top: 40px;
}
form{
    background: white;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}
div{
    margin: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],select,textarea{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="radio"],input[type="checkbox"]{
    margin-right: 5px;
}
input[type="button"]{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width:100%;
}
input[type="button"]:hover{
    background: #0056b3;
}
